<div *ngIf="todos && todos.length > 0">
  <div *ngFor="let todo of todos" class="item">
    <input
      type="checkbox"
      [(ngModel)]="todo.done"
      (change)="onChangeStatus(todo)"
      id="ch-{{ todo.name }}"
      class="checkboxTodo"
    />
    <label
      for="ch-{{ todo.name }}"
      class="todoInput"
      [ngClass]="todo.done ? 'done' : ''"
    >
      {{ todo.name }}
    </label>
    <!-- <input
      type="text"
      [value]="todo.name"
      class="todoInput"
      [ngClass]="todo.done ? 'done' : ''"
    /> -->
  </div>
</div>
