<div class="todo-app">
    <h1 class="todo-title">Todos</h1>
    <div class="todo-content">
        <app-todo-new-task (onAdd)="addTodo($event)"></app-todo-new-task>

        <section *ngIf="todoItems && todoItems.length > 0" class="todo-list-section">
            <app-todo-item *ngFor="let todo of todoItems" class="item" [todoItem]="todo"
                (onToggleItem)="toggleTodo($event)" (onUpdateItem)="updateTodo($event)"
                (onRemoveItem)="removeTodo($event)">
            </app-todo-item>
        </section>

        <div class="todo-filter">
            <app-todo-filter-item *ngFor="let filterItem of filterList" [filter]="filterItem"
                (onTodoFilter)="filterTodo($event)">
            </app-todo-filter-item>
        </div>
    </div>
</div>